# General
.DS_Store
report.csv

# Secrets & Environment
*.env
ssl/**/*.key
ssl/**/*.crt
ssl/**/*.pem
ssl/**/*.pfx
ssl/**/*.srl
ssl/**/*.yaml

# Dotfiles
.env
.vscode

# Configs
/configs/*
!/configs/bind/
!/configs/dashboard/
!/configs/kind/
!/configs/grafana/

# Specific Config Exclusions
/configs/bind/cache
/configs/bind/config/zones
/configs/bind/config/named.conf.externaldns-key
/configs/bind/config/named.conf.rdnc-key
!/configs/bind/config/zones/.gitkeep
/configs/bind/log

/setup/k8s/02-infra/99-monitoring.yaml
/setup/k8s/02-infra/99-monitoring-crds.yaml
