# Ignora tudo
.*
!.vscode/
media/**
configs/**

# Exceto setup e scripts
!/setup/
!/scripts/
.env

# Ignora arquivos de sistema
.DS_Store
.nomedia

ssl/**/*.srl
ssl/**/*.key
ssl/**/*.crt
ssl/**/*.pem
ssl/**/*.pfx
