# General
.DS_Store
report.csv
*.log
*.csv

# Secrets & Environment
*.env
ssl/**/*.key
ssl/**/*.crt
ssl/**/*.pem
ssl/**/*.pfx
ssl/**/*.srl
ssl/**/*.yaml

# Dotfiles
.env
.vscode

# Configs
/configs/*
!/configs/bind/
!/configs/dashboard/
!/configs/kind/
!/configs/postgres/
/configs/postgres/data
!/configs/postgres/config/
!/configs/postgres/scripts/

# Specific Config Exclusions
/configs/bind/cache
/configs/bind/config/zones
/configs/bind/config/named.conf.externaldns-key
/configs/bind/config/named.conf.rdnc-key
/configs/bind/config/named.conf.transfer-key
!/configs/bind/config/zones/.gitkeep
/configs/bind/log
