[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
CN = localhost

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = emby.lan
DNS.3 = plex.lan
DNS.4 = sonarr.lan
DNS.5 = radarr.lan
DNS.6 = bazarr.lan
DNS.7 = jackett.lan
DNS.8 = prowlarr.lan
DNS.9 = profilarr.lan
