(proxy_headers) {
  flush_interval -1
}

plex.apedamo.duckdns.org {
  tls /certs/wan/apedamo.duckdns.org.crt /certs/wan/apedamo.duckdns.org.key

  reverse_proxy plex:32400 {
    transport http {
      tls_insecure_skip_verify
    }
    import proxy_headers
  }
}

emby.apedamo.duckdns.org {
  tls /certs/wan/apedamo.duckdns.org.crt /certs/wan/apedamo.duckdns.org.key

  reverse_proxy emby:8096 {
    import proxy_headers
  }
}

*.media.lan {
  tls /certs/lan/localhost.crt /certs/lan/localhost.key

  # Public Media Services

  @emby host emby.media.lan
  reverse_proxy @emby emby:8096 {
    import proxy_headers
  }

  @plex host plex.media.lan
  reverse_proxy @plex plex:32400 {
    transport http {
      tls_insecure_skip_verify
    }
    import proxy_headers
  }

  # Private Media Services

  @bazarr host bazarr.media.lan
  reverse_proxy @bazarr bazarr:6767

  @jackett host jackett.media.lan
  reverse_proxy @jackett jackett:9117

  @profilarr host profilarr.media.lan
  reverse_proxy @profilarr profilarr:6868

  @prowlarr host prowlarr.media.lan
  reverse_proxy @prowlarr prowlarr:9696

  @radarr host radarr.media.lan
  reverse_proxy @radarr radarr:7878

  @sonarr host sonarr.media.lan
  reverse_proxy @sonarr sonarr:8989
}
