# Main Paths
ROOT_PATH="/Volumes/Plex"
CONFIGS_PATH="${ROOT_PATH}/configs"
SETUP_PATH="${ROOT_PATH}/setup"
MEDIA_PATH="${ROOT_PATH}/media"
SCRIPTS_PATH="${ROOT_PATH}/scripts"
DOWNLOADS_PATH="${HOME}/Downloads/Torrent"

# Docker Images and Files
COMPOSE_FILE_PATH="${SETUP_PATH}/docker-compose.yml"
DOCKER_BUILD_CONTEXT="${SETUP_PATH}/docker-image"
RADARR_DOCKERFILE_PATH="${SETUP_PATH}/docker-image/radarr.dockerfile"
RADARR_IMAGE_NAME="radarr-mkvtoolnix"
SONARR_DOCKERFILE_PATH="${SETUP_PATH}/docker-image/sonarr.dockerfile"
SONARR_IMAGE_NAME="sonarr-mkvtoolnix"

# Network Settings
DOCKER_HOST_IP="192.168.2.1"
DOCKER_INTERNAL_DNS="127.0.0.11"
PUBLIC_DNS_IP="8.8.8.8"
WAN_HOST="apedamo.duckdns.org"

# Plex Configuration
PLEX_ADVERTISE_IP="http://${DOCKER_HOST_IP}:32400"
PLEX_CLAIM=
PLEX_AUTH_TOKEN=

# Emby Configuration
EMBY_AUTH_TOKEN=

# Proxy Configuration
PROXY_HOST=
PROXY_PASSWORD=
PROXY_PORT=
PROXY_TYPE=
PROXY_USERNAME=

# WG Keys
WG_SERVER_PRIVATE_KEY=""
WG_SERVER_PUBLIC_KEY=""

WG_PEER1_PRIVATE_KEY=""
WG_PEER1_PUBLIC_KEY=""
WG_PEER1_PRESHARED_KEY=""

WG_PEER2_PRIVATE_KEY=""
WG_PEER2_PUBLIC_KEY=""
WG_PEER2_PRESHARED_KEY=""

