# Main Paths
ROOT_PATH="/Volumes/Plex"
CONFIGS_PATH="${ROOT_PATH}/configs"
SETUP_PATH="${ROOT_PATH}/setup"
MEDIA_PATH="${ROOT_PATH}/media"
SCRIPTS_PATH="${ROOT_PATH}/scripts"
CERTS_PATH="${ROOT_PATH}/ssl"
DOWNLOADS_PATH="${HOME}/Downloads/Torrent"

# Docker Images and Files
COMPOSE_FILE_PATH="${SETUP_PATH}/docker-compose.yml"
DOCKER_BUILD_CONTEXT="${SETUP_PATH}/docker-image"
RADARR_DOCKERFILE_PATH="${SETUP_PATH}/docker-image/radarr.dockerfile"
RADARR_IMAGE_NAME="radarr-mkvtoolnix"
SONARR_DOCKERFILE_PATH="${SETUP_PATH}/docker-image/sonarr.dockerfile"
SONARR_IMAGE_NAME="sonarr-mkvtoolnix"

# Network Settings
DOCKER_HOST_IP="192.168.2.1"
DOCKER_HOST_SUBNET="192.168.2.0/24"
DOCKER_INTERNAL_DNS="192.168.65.7"
DOCKER_MTU=1420
PUBLIC_DNS_IP="8.8.8.8"
WAN_HOST="apedamo.duckdns.org"

# WireGuard
WG_SUBNET="10.13.13.0/24"

WG_SERVER_IP="10.13.13.1"
WG_SERVER_PORT="51820"
WG_SERVER_PRIVATE_KEY=""
WG_SERVER_PUBLIC_KEY=""

WG_PEER1_IP="10.13.13.2"
WG_PEER1_PRIVATE_KEY=""
WG_PEER1_PUBLIC_KEY=""
WG_PEER1_PRESHARED_KEY=""

WG_PEER2_IP="10.13.13.3"
WG_PEER2_PRIVATE_KEY=""
WG_PEER2_PUBLIC_KEY=""
WG_PEER2_PRESHARED_KEY=""

WG_MTU=1420

# Plex Configuration
PLEX_ADVERTISE_IP="http://${DOCKER_HOST_IP}:32400"
PLEX_AUTH_TOKEN="z9FnVZEZzShueU7zGG4M"
PLEX_CLAIM=

# Proxy Configuration
PROXY_HOST=""
PROXY_PASSWORD=""
PROXY_PORT=""
PROXY_TYPE=""
PROXY_USERNAME=""

# K8S
CLUSTER_NAME="media-cluster"

