# Main Paths
ROOT_PATH="${HOME}/code/media-cluster"

CONFIGS_PATH="${ROOT_PATH}/configs"
SETUP_PATH="${ROOT_PATH}/setup"
SCRIPTS_PATH="${ROOT_PATH}/scripts"
CERTS_PATH="${ROOT_PATH}/ssl"

MEDIA_PATH="/Volumes/Plex/media"
DOWNLOADS_PATH="${HOME}/Downloads"
K8S_PATH="${SETUP_PATH}/k8s"

# Docker Images and Files
COMPOSE_FILE_PATH="${SETUP_PATH}/docker-compose.yml"
DOCKER_BUILD_CONTEXT="${SETUP_PATH}/docker-image"

# Network Settings
DOCKER_HOST_IP="192.168.2.1"
DOCKER_HOST_SUBNET="192.168.2.0/24"
DOCKER_INTERNAL_DNS="192.168.65.7"
DOCKER_MTU=1492
PUBLIC_DNS_IP="8.8.8.8"
WAN_HOSTNAME="xxx.duckdns.org"
LAN_INTERFACE="en0"
PF_ANCHOR_NAME="com.apple/media-cluster"

# WireGuard
WG_SUBNET="10.13.13.0/24"

WG_SERVER_IP="10.13.13.1"
WG_SERVER_PORT="51820"
WG_SERVER_PRIVATE_KEY=""
WG_SERVER_PUBLIC_KEY=""

WG_PEER1_IP="10.13.13.2"
WG_PEER1_PRIVATE_KEY=""
WG_PEER1_PUBLIC_KEY=""
WG_PEER1_PRESHARED_KEY=""

WG_PEER2_IP="10.13.13.3"
WG_PEER2_PRIVATE_KEY=""
WG_PEER2_PUBLIC_KEY=""
WG_PEER2_PRESHARED_KEY=""

WG_MTU=1420

# Plex Configuration
PLEX_ADVERTISE_IP="http://${DOCKER_HOST_IP}:32400"
PLEX_AUTH_TOKEN=""
PLEX_CLAIM=

# Media Servers Placement
MEDIA_SERVERS_IN_CLUSTER="true"

# Proxy Configuration
PROXY_HOST=""
PROXY_PASSWORD=""
PROXY_PORT=""
PROXY_TYPE=""
PROXY_USERNAME=""

# K8S
K8S_CONTEXT="orbstack"

# Acme
ACME_EMAIL="email@example.com"
ACME_PROVIDER="dynu"
DYNU_API_KEY=""

# Others
FANART_API_KEY=""
LASTFM_API_KEY=""
LASTFM_SECRET=""
SPOTIFY_ID=""
SPOTIFY_SECRET=""

# Postgres DB
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
LIDARR_DB_PASSWORD="lidarr"
SONARR_DB_PASSWORD="sonarr"
RADARR_DB_PASSWORD="radarr"
PROWLARR_DB_PASSWORD="prowlarr"
BAZARR_DB_PASSWORD="bazarr"
